.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 33%;
  background-color: #100e19 !important;
  padding: 5px;
  border: none !important;
}
.card .card-body {
  text-align: center !important;
}

.card .card-img-top {
  width: 100%;
  border-radius: 10px;
  height: 500px;
}
